.list-table-format{
         display: grid;
         grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
         gap: 10px;
         align-items: center;
         padding: 12px 15px;
         border: 1px solid #cacaca;
         font-size: 13px;
}
.flex-col p{
         color: black;
         font-size: 17px;
         margin-left: max(2vw,10px);
         margin-bottom: 20px;
}
.list-table-format img{
         width: 60px;
}
.list-table-format.title{
         background-color: #bdbdb3;
}
@media (max-width:600px) {
         .list-table-format{
                grid-template-columns: 1fr 3fr 1fr;
         }    
         .list-table-format.title{
              display: none;
         }    
}
.cursor{
         cursor: pointer;
}
.cursor:hover{
         color: red;
}