@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  scroll-behavior: smooth;

  /* Hide scrollbar but keep scroll functionality */
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE/Edge */
}

*::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Edge */
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  min-width: 100vw;
  margin: auto;
  scroll-behavior: smooth;
   

}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
